{% extends 'base.html.twig' %}

{% block title %}Edit Multa{% endblock %}

{% block body %}
    <h1>Edit Multa</h1>

    {{ include('multa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_multa_index') }}">back to list</a>

    {{ include('multa/_delete_form.html.twig') }}
{% endblock %}
