{% extends 'base.html.twig' %}

{% block title %}Edit Bibliotecario{% endblock %}

{% block body %}
    <h1>Edit Bibliotecario</h1>

    {{ include('bibliotecario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bibliotecario_index') }}">back to list</a>

    {{ include('bibliotecario/_delete_form.html.twig') }}
{% endblock %}
