{% extends 'base.html.twig' %}

{% block title %}New Bibliotecario{% endblock %}

{% block body %}
    <h1>Create new Bibliotecario</h1>

    {{ include('bibliotecario/_form.html.twig') }}

    <a href="{{ path('app_bibliotecario_index') }}">back to list</a>
{% endblock %}
