{% extends 'base.html.twig' %}

{% block title %}New Materiales{% endblock %}

{% block body %}
    <h1>Create new Materiales</h1>

    {{ include('materiales/_form.html.twig') }}

    <a href="{{ path('app_materiales_index') }}">back to list</a>
{% endblock %}
