{% extends 'base.html.twig' %}

{% block title %}New Prestamos{% endblock %}

{% block body %}
    <h1>Create new Prestamos</h1>

    {{ include('prestamos/_form.html.twig') }}

    <a href="{{ path('app_prestamos_index') }}">back to list</a>
{% endblock %}
